/* * {
    border: solid black 1px;
} */

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


.header {
    width: 100%;
    height: 10%;
    text-align:right;
    background-color: orange;
    justify-content: space-between;
}

.site-logo {
    margin: 1% 5%;
}


.navbar {
    width: 100%;
    margin-top: 10px;
    align-content: center;
    justify-content: flex-end;
}

.navbar div {
    margin: 5%;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.main-image {
    height: 75vh;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat;
    background-color: gray;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
}

.main-image div {
    padding: 5px 30px;
    background-color: white;
    margin-bottom: 50px;
}

.section-box {
    align-items: center;
    /* padding: 25px 0; */
    border: solid black 1px;
    max-width: 85%;
}

.section-text {
    font-size: 2em;
}

.image-block-container {
    flex-wrap: wrap;
    width: 100%;
    border: solid black 1px;
    justify-content: space-between;
}

.image-block {
    background-color: lightgray;
    height: 300px;
    width: 350px;
    margin: 0 25px;
}

.image-block-right {
    margin-right: 0;
}

.image-block-left {
    margin-left: 0;
}

.image-block-small {
    background-color: lightgray;
    height: 250px;
    width: 250px;
}

.image {
    width: 350px;
    height: 250px;
    border: solid black 1px;
    background-image: url("https://via.placeholder.com/350x250");
}

.image-small {
    width: 250px;
    height: 200px;
    background-image: url("https://via.placeholder.com/250x200");
}
